*{
    box-sizing:border-box;
}

.box{
    
    width:200px;
    height:120px;
    margin:auto;
}
.color_box{
    border:solid 1px red;
    width:100px;
    height:100px;
    margin:auto;
    margin-top:10px
}

.count{
    border:solid 1px red;
    width:300px;
    height:100px;
    margin:auto;
 }
.count1{
    border:solid 1px red;
    float:left;
    width:149px;
    height:50px;
 }
 
.count2{
    border:solid 1px red;
    float:left;
    width:149px;
    height:50px;
 }
 
.count3{
    border:solid 1px red;
    float:left;
    width:149px;
    height:50px;
 }

.count4{
    border:solid 1px red;
    float:left;
    width:149px;
    height:50px;
 }
.colors{
    border:solid 1px red;
    width:300px;
    height:200px;
    margin:auto;
 }
 .color1{
    border:1px solid red;
    float:left;
    height:100px;
    width:149px;
 }
.color2{
    border:1px solid red;
    float:left;
    height:100px;
    width:149px;
 }
 .color3{
    border:1px solid red;
    float:left;
    height:100px;
    width:149px;
 }
.color4{
    border:1px solid red;
    float:left;
    height:100px;
    width:149px;
 }
 
#Green{
    background:green;
    width:60px;
    height:25px;
    margin-left:40px;
    
 }
 
#Red{
    background:red;
    width:60px;
    height:25px;
    margin-left:40px;
 }
 
#Yellow{
    background:yellow;
    width:60px;
    height:25px;
    margin-left:40px;
 }
 
 #Blue{
    background:blue;
    margin-left:20px;
    width:60px;
    height:25px;
    margin-left:40px;
}


 
    
